<script>
  import { count } from './stores.js';
  import Incrementer from './Incrementer.svelte';
  import Decrementer from './Decrementer.svelte';
  import Resetter from './Resetter.svelte';

  // let count_value;

  // const unsubscribe = count.subscribe(value => {
  //   count_value = value;
  // });

  let localStorageValue

$: localStorageValue = localStorage.getItem('localStorageCounter'), $count

</script>

<!-- <h1>The count is {count_value}</h1> -->
<h1>The count is {$count}</h1>

<Incrementer/>
<Decrementer/>
<Resetter/>

<h2>localStorage.getItem('localStorageCounter'): {localStorageValue}</h2>